@font-face {
font-family: 'Gilroy Bold';
src: url('./fonts/Gilroy-Bold.eot');
src: url('./fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
url('./fonts/Gilroy-Bold.woff') format('woff'),
url('./fonts/Gilroy-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Gilroy Medium';
src: url('./fonts/Gilroy-Medium.eot');
src: url('./fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
url('./fonts/Gilroy-Medium.woff') format('woff'),
url('./fonts/Gilroy-Medium.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: box; 
	}

img {
	display: block;
}


.container {
	width: 940px; 
	margin: auto;
}

nav .menu {
	margin-top: 33px; 
}

.menu {
	display: flex;

}

.menu li:not(:last-child) {
	margin-right: 155px; 
}


.menu li:not(:first-child) {
	list-style: none;
	font-size: 18px; 
	font-family: 'Gilroy Bold';
	color: #828282;
}

.menu li:first-child {
	list-style: none;
	font-size: 18px; 
	font-family: 'Gilroy Bold';
}

.line {
	margin-top: 32px; 
}

.information {
	display: flex; 
	justify-content: space-between;
}

.information h1 {
	margin-top: 40px; 
	font-size: 45px; 
	font-family: 'Gilroy Bold';
}

.information .myinfo {
	margin-top: 95px; 
	font-size: 18px; 
	font-family: 'Gilroy Medium';

}

.langs {
	display: flex; 
	transform: rotate(-90deg); 
}

.lang-ru,.lang-eng {
	margin: 95px 0px 0px 0px; 
	font-size: 16px; 
	font-family: 'Gilroy Bold';
}

.lang-ru {
	color: #828282;
}


.photo img {
	margin: 30px 0px 104px 0px; 
}

.mobile-photo {
	display: none; 
}

.about { 
	background-color: #F6F6F6;
}

.about h2 { 
	padding: 120px 0px 18px 0px;
	text-align: center; 
	font-size: 34px; 
	font-family: 'Gilroy Bold';
	color: #070707
}

.about p {
	width: 485px; 
	height: 218px;
	text-align: center;
	margin:0 auto;
	font-size: 18px; 
	font-family: 'Gilroy Medium';
	padding: 0px 0px 107px 0px; 
}

.skills h3 {
	text-align: center; 
	margin: 91px 0px 70px 0px;  
	font-size: 34px; 
	font-family: 'Gilroy Bold';	
}

.skills p {
	font-size: 18px; 
	font-family: 'Gilroy Medium';
	text-align: center;
	margin: 0px 0px 83px 0px; 
}
.skills .programs {
	display: flex; 
	justify-content: space-between;
	margin: 0px 0px 111px 0px; 
}

.Portfolio {
	background-color: #F6F6F6;

}

.Portfolio h4 {
	padding: 113px 0px 47px 0px; 
	text-align: center; 
	font-size: 34px; 
	font-family: 'Gilroy Bold';	

}

.Portfolio p {
	font-size: 18px; 
	font-family: 'Gilroy Medium';
	text-align: center;
	padding: 45px 0px 99px 0px; 
	text-decoration: underline;
}

footer h5 {
	text-align: center; 
	font-size: 34px; 
	font-family: 'Gilroy Bold';
	margin: 114px 0px 20px 0px; 
}

footer .subtitle {
	text-align: center; 
	font-size: 18px; 
	font-family: 'Gilroy Medium';
	margin: 0px 0px 30px 0px;
}

footer .btn-wrapper {
	display: flex; 
	justify-content: center;
	margin: 0px 0px 80px 0px; 
}


footer .sendMessageBtn {
	background-color: #070707; 
	color: white;
	border-radius: 30px;
	width: 180px; 
	height: 42px; 
	font-size: 18px; 
	font-family: 'Gilroy Medium';
}

footer .sendMessageBtn:hover { 
	background-color: white; 
	color: black;
	border: 2px solid black;
	cursor: pointer;
 }

footer .icons { 
	display: flex; 
	justify-content: center; 
	margin: 0px 0px 46px 0px; 
}	

.icons img:not(:last-child) {
	margin-right: 60px; 
}

footer .sign {
	text-align: center; 
	font-size: 14px; 
	font-family: 'Gilroy Medium';
	color: #828282;
	margin: 0px 0px 123px 0px; 
}

.hamburger {
	display: none; 
}

.hamburger div {
	width: 33px; 
	height: 4px; 
	background-color: black; 
	margin: 4px; 
	
}

@media screen and (max-width: 768px) {
	html, body {
		width: 375px;
		overflow-x: hidden;
	}

	

	.menu {
		position: absolute;
		flex-direction: column;
		background-color: white; 
		height: 812px; 
		width: 375px; 
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}

	
	.menu li:first-child {
    list-style: none;
    font-size: 34px;
    font-family: 'Gilroy Bold';
    padding: 66px 0px 0px 26px; 
	}

	.menu li {
		font-size: 34px; 	
		margin: 0px;
	}

	.menu li:not(:first-child) {
		font-size: 34px; 
		padding: 68px 0px 0px 26px;
	}

	.line {
		display: none; 
	}

	.langs {
		display: none; 
		width: 144px; 
		height: 30px;
		transform: rotate(-90deg);
		color: green;
		margin: 60px 28px 57px 317px;
	}

	.container {
	width: 375px; 
	margin: auto;
	}

	.photo {
	display: none; 
	}

	.mobile-photo {
	display: block;
	margin: 0px 29px 83px 29px;  
	}

	.information { 
		display: block; 

	 }

	 .hamburger {
	  	display: inline-block;
	  	width: 33px; 
	  	height: 22px; 
	  	margin: 0px 0px 65px 162px;  
	  	cursor: pointer;
	  	position: relative;
	  	z-index: 2;
	  }

	 .information h1 {
	 	margin: 65px 0px 23px 26px; 
	 	font-size: 47px;
	 	width: 124px;
	 	height: 106px;
	 	display: inline-block; 
	 }

	 .information .myinfo { 
	 	margin: 23px 0px 27px 28px; 
	  }

	  .about h2 {
	  	padding: 81px 110px 30px 109px;
	  	text-align: center;
	  }

	  .about p {
	  	text-align: center;
	  	padding: 30px 30px 76px 30px; 
	  	width: 316px;
	  	height: 261px; 
	  }

	  .skills h3 {
		text-align: center; 
		margin: 83px 0px 50px 0px;  
	}

	.skills p {
		text-align: center; 
		margin: 0px 0px 71px 0px;  
	}

	.skills .programs {	
    	display: block;
    	flex-direction: column; 
    	justify-content: center; 
    }

    .programs img {
    	margin: 0 auto; 	
    }

    .programs img:not(:last-child) {
    	margin-bottom: 80px; 
    }

    .programs img:last-child {
    	margin-bottom: 98px; 
    }

    .Portfolio h4 {
    	padding: 81px 0px 65px 0px;
    }

    .Portfolio img { 
    	width: 316px; 
    	height: 176px;
    	margin: 0 auto; 
     }

     .Portfolio p {
     	padding: 34px 0px 77px 0px; 
     }

     footer h5 {
     	margin: 82px 0px 27px 0px;
     }

     footer .subtitle {
     	margin: 0px 0px 40px 0px;
     }

     footer .sign {
     	font-size: 18px;
     	margin: 0px 0px 90px 0px;  
     }

     footer .sendMessageBtn {
     	width: 316px;
     	border-radius: 50px;
     }

     .icons img:not(:last-child) {
    	margin-right: 50px;
    }

    footer .btn-wrapper {
    	margin: 0px 0px 48px 0px;
    }
     
     }

     .nav-active { 
    	transform: translateX(0%);
    }

    .nav-close .line1 {
    	transform: rotate(-45deg) translate(-5px, 6px);
    	background-color: #828282;
    }

    .nav-close .line2 {
    	opacity: 0;
    }

    .nav-close .line3 {
    	transform: rotate(45deg) translate(-5px, -6px);
    	background-color: #828282;
    }


